.contactPage {

    .contacsInfo {

        @media (min-width:$screen-md-min) { 
            .left {
                padding-left: 5em;
                padding-top: 1em;
    
            }
        }        

        .bigTitle {

            .listOfContacs {
                min-height: 400px;
                padding: 0;
                margin: 0;

                li {
                    list-style-type: none;
                    padding: 0;
                    padding-left: 5em;                    
                    padding-top: 0.5em;
                }

                p,
                .pText {
                    font-size: 18px;
                    font-weight: bold;
                    color: $h3span;
                    line-height: 24px;

                    @media (min-width:$screen-md-min) {
                        padding-right: 15em;
                    }                   

                }

                .itemAdress {
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 100px;
                        height: 100px;
                        background: url(../img/adress.png);
                        background-repeat: no-repeat;
                        position: absolute;
                        top:0;
                        left: 0;
                    }

                    
                }

                .itemPhone {
                    position: relative;
                    top:2em;

                    &:before {
                        content: "";
                        display: block;
                        width: 100px;
                        height: 100px;
                        background: url(../img/organaizer.png);
                        background-repeat: no-repeat;
                        position: absolute;
                        top:0;
                        left: 0;
                    }
                    
                    a {
                        font-size: 22px;
                        font-weight: bold;
                        color: $h3span;
                        line-height: 24px;
                        display: block;
                    }
                    

                }

                .itemEmail {
                    position: relative;
                    top:4em;

                    a {
                        font-size: 18px;
                        font-weight: bold;
                        color: $h3span;
                        line-height: 24px;

                    }

                    &:before {
                        content: "";
                        display: block;
                        width: 100px;
                        height: 100px;
                        background: url(../img/email.png);
                        background-repeat: no-repeat;
                        position: absolute;
                        top:0;
                        left: 0;
                    }       

                }

                .itemOrganizer {
                    position: relative;
                    top:6em;

                    &:before {
                        content: "";
                        display: block;
                        width: 100px;
                        height: 100px;
                        background: url(../img/organiser.png);
                        background-repeat: no-repeat;
                        position: absolute;
                        top:0;
                        left: 0;
                    }
                }
            }
        }        
    }    
}

